$blu-dark: #002b49;
$blu-med: #6185c4;
$blu-light: #a4c7e2;

$oj-dark: #d15f27;
$oj-light: #f78d2c;
$yellow: #fde050;

$grn-dark: #38573d;
$grn-light: #acc37e;

$grey-dark: #7c6e66;
$grey-light: #c1b8af;
