.content {

}

.text-content {
  color: #fff;
  display: block;
  line-height: 1.5;
  font-weight: 300;

  @mixin atSmall {
    max-width: 60ch;
    margin: 0 auto;

  }



  &__title {
    font-size: 1.5rem;
    @mixin atSmall {
      font-size: 2rem;
    }
  }
  &__copy {
    font-size: 1.1rem;

    @mixin atSmall {
      font-size: 1.4rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
