.row {
	@mixin clearFix;

	&__b-margin-atM {
		margin-bottom: 1rem;
	}
	&--t-padding{
		padding-top: 80px;
	}

	@mixin atMedium {
		&__b-margin-atM{
			margin-bottom: 0;
		}
		&__m-4{
			float: left;
			width: 33.33%;
		}
		&__m-6 {
			float:left;
			width: 50%}
		&__m-8{
			float: left;
			width: 66.66%;
		}

		&__m-4--larger{
			float: left;
			width: 37%;
		}
		&__m-8--smaller{
			float: left;
			width: 63%;
		}
	}

	@mixin atLarge {
		&__b-margin-atL{
			margin-bottom: 0;
		}
		&__l-4{
			float: left;
			width: 33.33%;
		}
		&__l-6 {
			float:left;
			width: 50%}
		&__l-8{
			float: left;
			width: 66.66%;
		}

		&__l-4--larger{
			float: left;
			width: 37%;
		}
		&__l-8--smaller{
			float: left;
			width: 63%;
		}
	}

	&__12{
		width: 100%;
	}

	&--gutters {
		margin-right: -65px;
	}

	&--gutters > div {
		padding-right: 65px;

	}
	&--gutters-small {
		margin-right: -45px;
	}
	&--gutters-small > div {
		padding-right: 45px;
	}
	&--gutters-large {
		margin-right: -100px;
	}
	&--gutters-large > div {
		padding-right: 100px;
	}

/* Begin Equal Height Rules */
	.flexbox &--eq-h-m{
		@mixin atMedium {
			display: flex;

		}
		& > div {
			@mixin atMedium {
				float: none;
				display: flex;

			}
		}
	}
	.flexbox &--eq-h-l{
		@mixin atLarge {
			display: flex;

		}
		& > div {
			@mixin atLarge {
				float: none;
				display: flex;

			}
		}
	}

}
